* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }

  .navbar.active {
    display: block;
  }

  body {
    background-color: #f5f5f5;
    color: #333;
    overflow-y: scroll;
  }

  .testimonial-section {
    max-width: 800px;
    margin: auto;
    text-align: center;
    padding: 40px 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h2 {
    color: #2c3e50;
    margin-bottom: 20px;
  }

  .testimonials {
    display: flex;
    overflow: hidden;
    position: relative;
  }

  .testimonial {
    min-width: 100%;
    padding: 20px;
    text-align: center;
    animation: slide 15s infinite;
  }

  #darkModeToggle {
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
  }

  @keyframes slide {

    0%,
    100% {
      transform: translateX(0);
    }

    25% {
      transform: translateX(-100%);
    }

    50% {
      transform: translateX(-200%);
    }

    75% {
      transform: translateX(-300%);
    }
  }

  .profile-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 3px solid #2c3e50;
  }

  .testimonial p {
    font-style: italic;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .testimonial h4 {
    color: #1f618d;
    font-size: 18px;
    margin-top: 10px;
  }

  .stars {
    color: #f4c542;
    font-size: 18px;
  }

  .dark-mode .testimonial-section {
    background: #333;
  }

  .dark-mode .testimonial-section h2,
  .dark-mode .testimonial-section h4 {
    color: #1E90FF;
  }

  footer {
    width: 100%
  }

  .footer-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1rem;
  }

  .footerLinksForAdminInfo {
    width: 60%;
  }

  .submit {
    margin-top: 0.8rem;
  }

  @media (max-width: 768px) {
    .footerLinksForAdminInfo {
      margin: 0.5rem auto;
      align-items: center;
    }

    .navbar {
      display: none !important;
    }

    .navbar.active {
      display: block !important;
    }
  }