/* Basic Styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

/* Navbar Styling */
.navbar {
  background-color: #2b6cb0;
}

/* Toggle Button */
.menu-toggle {
  display: none;
  font-size: 30px;
  color: white;
  background: #2b6cb0;
  padding: 10px 20px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
  border-radius: 5px;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .navbar {
    display: none !important;
    width: 100%;
    background: #2b6cb0;
    border-radius: 5px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 2s ease;
  }

  .nav-links {
    flex-direction: column;
    text-align: right;
  }

  .nav-links li {
    padding: 10px;
  }

  .navbar.active {
    display: block !important;
  }

  .content {
    transition: margin-top 0.3s ease;
  }

  body.menu-open .content {
    margin-top: 60px; /* Adjust based on the menu height */
  }

  #menu-toggle {
    display: block;
    z-index: 1050; /* Make sure hamburger icon is above the menu */
    position: fixed;
    font-size: 30px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
  }
}
